<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}-SKY工作室</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="/public/web/res/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/public/admin/style/homepage.css">
  <script src="/public/admin/plug/jquery.js"></script>
  <script src="/public/admin/plug/support.js"></script>
  <script src="/public/admin/script/login.js"></script>
</head>
<body>
	
    <img class="logo" src="/public/admin/img/admin.png" />
    
    <div class="wrapper">
        <input id="go_url" type="hidden" /> 
        <div class="content">
        <form class="loginFm">
            <div class="hh_inputbox">
              <label class="label">账号</label>
              <input class="input user" name="username" type="text" autofocus />
            </div>
            <div class="hh_inputbox">
              <label class="label">密码</label>
              <input class="input pswd" name="password" type="password" />
            </div>
            <div class="hh_inputbox">
              <label class="label2"><input type="checkbox" /> 记住密码</label>
            </div>
            <div class="hh_inputbox">
              <a class="button btn_sub">登 录</a>
            </div>
        </form>
        </div>
    </div>

</body>
</html>