{% extends  "../layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/admin/plug/album/album.css" />
<style>  
#main .card .card-header{ padding:15px 25px 15px 15px; }
.form-horizontal{ margin-top:15px; }
#main .card .card-header .btn-gp{ margin-top:5px; }
#main .card .card-header .btn-gp .btn{ margin-right:10px; }

#main .card .card-header i{ margin-right:8px; color:#FFB50B; font-size:18px;}
#main .card .card-header h2{ font-weight:bold; font-size:16px;}
#main .card .card-body table th{ color:#000; background:#EEF8FA; }
#main .card .card-body table th,td{ text-align:center;  }
#main .card-body ul.list{ list-style:none; padding:6px 0 12px 0; }
#main .card-body ul.list li{ padding:7px 25px; }
#main .card-body ul.list li a{ color:#666; }
#main .card-body ul.list li a:hover{ color:#000; border-bottom:1px solid #333; }
#main .card-body ul.list li .desp{ color:#999;  }
</style>
{% endblock %}
{% block js %}
<script src="/public/admin/plug/qn_jssdk/plupload/plupload.full.min.js"></script>
<script src="/public/admin/plug/qn_jssdk/qiniu.dev.js"></script>
<script src="/public/admin/plug/laytpl.js"></script>
<script src="/public/admin/plug/album/album.js"></script>
<script>
$(".imgChoose").click(function(){
    album({
        max:100,
        thumb_w:100,
        thumb_h:100,
        success:function(imgs){
            $(".img-content img").attr("src",imgs[0].thumb);
            $(".img-content img").data("src",imgs[0].img);
            $(".js-image-container").addClass("hidden");
            $(".img-content").removeClass("hidden");
        }
    });
})
</script>
{% endblock %}


{% block content %}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
               <ul class="breadcrumb">位置：
                  <li>我的画廊</li>
                  <li>画廊列表</li>
              </ul>
              <div class="row form-horizontal" >
                    <div class="col-md-4 col-sm-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label">分类名称</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                   <input class="form-control input-sm" placeholder="请输入" >
                                </div>
                            </div>
                        </div>                          
                    </div>
                    <div class="col-md-4 col-sm-6">  
                        <div class="form-group">
                            <label class="col-sm-4 control-label">图片名称</label>
                            <div class="col-sm-8">
                                <div class="fg-line">
                                   <input class="form-control input-sm" placeholder="请输入" >
                                </div>
                            </div>
                        </div>                          
                    </div>
                    <div class="col-md-4 col-sm-6 btn-gp text-center">
                        <button class="btn btn-primary">查询</button>
                        <a href="/admin/gallery/gallery_add"><button class="btn btn-danger">添加画廊</button></a>
                    </div>
              </div>
            </div>

            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>画廊名称</th>
                            <th>类型</th>
                            <th>数量</th>
                            <th class="sort createSort">创建时间<i class="m-l-5  zmdi zmdi-chevron-down"></i></th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gallery in galleryList %}
                        <tr>
                            <td>{{gallery.gallery_name}}</td>
                            <td>{% if gallery.gallery_type==0 %} 相册 {% else %} 图册 {% endif %}</td>
                            <td>{{gallery.gallery_imgs.length}}</td>
                            <td>{{gallery.createtime}}</td>
                            <td><a>查看</a> | <a>编辑</a> | <a>删除</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}