<aside id="sidebar" class="sidebar c-overflow">
    <ul class="main-menu">
        <li class="{% if title=='后台首页' %} active {% endif %}">
            <a href="/admin"><i class="zmdi zmdi-home"></i>首页</a>
        </li>
 
        <li class="sub-menu {% if title=='用户列表' || title=='用户添加' %} active {% endif %}" >
            <a><i class="zmdi zmdi-account"></i>用户管理</a>
            <ul>    
                <li><a {% if title=='用户列表' %} class="active" {% endif %} href="/admin/user/user_list">用户列表</a></li>
                <li><a {% if title=='用户添加' %} class="active" {% endif %} href="/admin/user/user_add">用户添加</a></li>
            </ul>
        </li>

        <li class="sub-menu {% if title=='图片素材' || title=='图片列表' %} active {% endif %}" >
            <a><i class="zmdi zmdi-widgets"></i>素材管理</a>
            <ul>    
                <li><a {% if title=='图片素材' %} class="active" {% endif %} href="/admin/picture/picture_cate">图片素材</a></li>
<!--            <li><a {% if title=='图片列表' %} class="active" {% endif %} href="/admin/picture/picture_list">图片列表</a></li> -->
            </ul>
        </li>


        <li class="sub-menu {% if title=='电影列表' || title=='电影添加' || title=='轮播图' || title=='轮播图添加' %} active {% endif %}" >
            <a><i class="zmdi zmdi-movie"></i>电影管理</a>
            <ul>    
                <li><a {% if title=='电影列表' %} class="active" {% endif %} href="/admin/film/film_list">电影列表</a></li>
                <li><a {% if title=='电影添加' %} class="active" {% endif %} href="/admin/film/film_add">电影添加</a></li>
                <li><a {% if title=='轮播图' %} class="active" {% endif %} href="/admin/film/film_banner">轮播图</a></li>
                <li><a {% if title=='轮播图添加' %} class="active" {% endif %} href="/admin/film/film_banner_add">轮播图添加</a></li>
            </ul>
        </li>

        <li class="sub-menu {% if title=='画廊列表' || title=='画廊添加' %} active {% endif %}" >
            <a><i class="zmdi zmdi-image"></i>我的画廊</a>
            <ul>    
                <li><a {% if title=='画廊列表' %} class="active" {% endif %} href="/admin/gallery/gallery_list">画廊列表</a></li>
                <li><a {% if title=='画廊添加' %} class="active" {% endif %} href="/admin/gallery/gallery_add">画廊添加</a></li>
            </ul>
        </li>


<!--    <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-laptop-mac"></i>系统管理</a>
            <ul class="">    
                  <li ><a id="" href="system/menu_list.html">菜单管理</a></li>
                  <li ><a id="" href="system/user_list.html">用户管理</a></li>
            </ul>
        </li>
        <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-usb"></i>主数据管理</a>
            <ul class="">      
                  <li ><a id="" href="javascript:;">SKU品类</a></li>
                  <li ><a>产品线设置</a></li>
                  <li ><a id="" href="data/data_check_regulate.html">物料级别管理</a></li>
                  <li ><a id="" href="data/data_files_list.html">物料文件管理</a></li>
            </ul>
        </li>
        <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-storage"></i>产品管理</a>
            <ul class="">      
                  <li ><a id="" href="product/product_list.html">产品列表</a></li>
                  <li ><a id="" href="product/unpulish_product_list.html">未发布列表</a></li>
            </ul>
        </li>
        <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-view-dashboard"></i>库存管理</a>
            <ul class="">      
                  <li ><a id="" href="store/store_list.html">库存管理</a></li>
            </ul>
        </li>
        <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-assignment"></i>推广系列管理</a>
            <ul class="">      
                  <li ><a id="" href="popularize/popularize_list.html">系列列表</a></li>
                  <li ><a id="" href="popularize/popularize_add.html">创建系列</a></li>
            </ul>
        </li>

        <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-time"></i>审批管理</a>
            <ul class="">      
                  <li ><a id="" href="check/check_list.html">待审系列</a></li>
                  <li ><a id="" href="check/already_check_list.html">已审系列</a></li>
            </ul>
        </li>-->
        <li class="sub-menu" id="">
            <a href="javascript:;"><i class="zmdi zmdi-email"></i>消息与提醒</a>
            <ul class="">      
                  <li ><a id="" href="javascript:;">消息列表</a></li>
            </ul>
        </li>
    </ul>
</aside>