body{ background:url(../image/musicback.jpg); }
.flim .container{ padding:75px 0; }
.flim .Update{ margin:0 auto; margin-bottom:50px; }

/* ================================================================================================================ */

.flim  .wrap{ margin:0 -10px 30px;}
.flim  .wrap:after { display:block; content:""; clear:both; }
/*
.flim  .wrap h2{ display:inline-block; padding:0 10px; margin:20px 10px; background:#0E88EB; color:#fff; font:14px/25px "微软雅黑"; border-radius:10px;}
*/
.flim  .wrap .filmreview{ font:bold 16px/25px "微软雅黑"; color:#390; text-indent:10px; border:0px solid #f00; }
.flim  .wrap .filmreview a{ color:#390; }

.flim  .wrap ul.list li{ float:left; display:block; width:16.6%; }
.flim  .wrap ul.list li a{ display:block; margin:0 10px; text-align:center; }
.flim  .wrap ul.list li a:hover img{ box-shadow:0px 0px 7px rgba(0,0,0,0.7); }
.flim  .wrap ul.list li a:hover p  { box-shadow:0px 1px 1px rgba(0,0,0,0.3); background:#fff; color:#0E88EB; }
.flim  .wrap ul.list li a img{ width:100%; box-shadow:0px 0px 2px rgba(0,0,0,0.5); border:1px solid #fff; transition:all 0.5s ease 0s;}
.flim  .wrap ul.list li a p{ font:100 14px/22px "微软雅黑"; text-align:center; color:#333; overflow:hidden; text-overflow:ellipsis; white-space:n.flim  owrap; text-shadow:0 1px rgba(255,255,255,0.3); transition:all 0.5s ease 0s; display:inline-block; max-width:90%; margin:7px auto; padding:0px 5px; border-radius:5px;}

.flim  .wrap ul.list2 li{ float:left; display:block; width:152px; }
.flim  .wrap ul.list2 li a{ display:block; margin:0 10px; text-align:center; }
.flim  .wrap ul.list2 li a:hover img{ box-shadow:0px 0px 7px rgba(0,0,0,0.7); }
.flim  .wrap ul.list2 li a:hover p  { box-shadow:0px 1px 1px rgba(0,0,0,0.3); background:#fff; color:#0E88EB; }
.flim  .wrap ul.list2 li a img{ width:100%; box-shadow:0px 0px 2px rgba(0,0,0,0.5); border:1px solid #fff; transition:all 0.5s ease 0s;}
.flim  .wrap ul.list2 li a p{ font:100 14px/22px "微软雅黑"; text-align:center; color:#333; overflow:hidden; text-overflow:ellipsis; white-space:n.flim  owrap; text-shadow:0 1px rgba(255,255,255,0.3); transition:all 0.5s ease 0s; display:inline-block; max-width:90%; margin:7px auto; padding:0px 5px; border-radius:5px;}

.flim  .wrap ul.site { border:0px solid #f00; }
.flim  .wrap ul.site li{ float:left; display:block; width:25%; box-sizing:border-box; border:0px solid #f00; }
.flim  .wrap ul.site li a{ display:block; margin:0 10px 15px; padding:10px 5px; text-align:center; background:#fff; border-top:4px solid #000; }
.flim  .wrap ul.site li a:hover { background:#f6f6f6; }
.flim  .wrap ul.site li a h3 { font:16px/1em "微软雅黑"; margin-bottom:10px; border-bottom:1px dashed #999; padding-bottom:10px; }
.flim  .wrap ul.site li a p  { font:12px/1.4em "微软雅黑"; color:#999; overflow:hidden; text-overflow:ellipsis; white-space:n.flim  owrap; text-shadow:0 1px rgba(255,255,255,0.3); border:0px solid #f00; }

.flim .wrap{ margin:0 -5px 30px;}
.flim .wrap h2{ display:inline-block; padding:0 10px; margin:10px 5px; border-left:5px solid #f03;  color:#000; font:18px/25px "微软雅黑"; font-weight:bold; }
.flim .wrap ul.list li a{ display:block; margin:5px; text-align:center; }
.flim .wrap .linkA a:hover{ color:#0E88EB; }
.flim .wrap .linkA li{ margin:5px 0; }


/* ========================================================================================================= */
.film_details .container{ padding:75px 0; }
.film_details .Section { margin-top:10px;}
.film_details .Section > h3  { font:18px/2em "微软雅黑"; color:#fff; background:#111; text-indent:18px; }
.film_details .Section > div { position:relative; border:4px solid #111; padding:8px; }

.film_details .Section.Meiju_Info { margin-top:20px; }
.film_details .Section.Meiju_Info .left { position:absolute; width:170px; border:0px dashed #900; }
.film_details .Section.Meiju_Info .left img{ background:#2d2d2d; width:160px; }
.film_details .Section.Meiju_Info .left .UserFeel{ width:170px; height:30px; text-align:center; padding:0; border:0px solid #f00; }
.film_details .Section.Meiju_Info .left .UserFeel span{ display:block; width:30px; height:30px; color:#ff0; font:12px/30px "微软雅黑"; background:#111; }

.film_details .Section.Meiju_Info .right { min-height:320px; margin-left:168px; padding-left:10px; border-left:1px dashed #333; }
.film_details .Section.Meiju_Info .right table{ font:16px/22px "微软雅黑"; color:#222; width:100%; border:0px solid #f00; }
.film_details .Section.Meiju_Info .right table .title{ font:30px/50px "微软雅黑"; color:#111; }
.film_details .Section.Meiju_Info .right table td { padding:2px 0; vertical-align:top; border:0px solid #f00; }
.film_details .Section.Meiju_Info .right table td p { margin-bottom:10px; }
.film_details .Section.Meiju_Info .right table .title span{ font:600 16px/50px "微软雅黑"; }
.film_details .Section.Meiju_Info .right table .actor td { padding:10px 0; }
.film_details .Section.Meiju_Info .right table .intro td { padding:10px 0 0; }
.film_details .Section.Meiju_Info .right table .summary{ padding-bottom:10px; }
.film_details .Section.Meiju_Info .right table .showall{ color:#900; text-align:right; padding-bottom:10px; display:none;}
.film_details .Section.Meiju_Info .right table .showall span{ cursor:pointer;}
.film_details .Section.Meiju_Info .right table .more{ padding-top:10px; border-top:1px solid #555; text-align:center;}
.film_details .Section.Meiju_Info .right table a{ color:#333; }
.film_details .Section.Meiju_Info .right table a:hover{ color:#f00; }


.film_details .Section.Meiju_Pic{ margin-top:0px;}
.film_details .Section.Meiju_Pic img{ display:inline; height:100px;}
.film_details .Section.Meiju_download{ margin-bottom:50px;}
.film_details .Section.Meiju_message{ margin:50px 0; display:none;}
.film_details .Section.Meiju_poster img{ display:inline; height:160px; border:2px solid #eee;}
.film_details .Section.Meiju_relative{ font-size:0; margin-top:50px; }
.film_details .Section.Meiju_relative a img{ display:inline; width:120px; height:160px; margin:0 5px 5px 0; }
/* ========================================================================================================= */

.film_details .posterbox1 { font-size:0; margin-bottom:50px; }
.film_details .posterbox1 h2{  display:inline-block; padding:0 10px; margin:10px 5px; border-left:5px solid #f03;  color:#000; font:18px/25px "微软雅黑"; font-weight:bold; }
.film_details .posterbox1 a { display:inline-block; height:160px; margin:0 8px 8px 0; }
.film_details .posterbox1 a img { display:inline; height:100%; box-shadow:0px 0px 2px rgba(0,0,0,0.5); border:1px solid #fff; transition:all 0.5s ease 0s;}
.film_details .posterbox1 a:hover img{ box-shadow:0px 0px 7px rgba(0,0,0,0.7); }

.film_details .posterbox2 { font-size:0; }
.film_details .posterbox2 h2{  display:inline-block; padding:0 10px; margin:10px 5px; border-left:5px solid #f03;  color:#000; font:18px/25px "微软雅黑"; font-weight:bold; }
.film_details .posterbox2 a { display:inline-block; margin:0 8px 8px 0; }
.film_details .posterbox2 a img{ display:inline; width:192px; height:120px; box-shadow:0px 0px 2px rgba(0,0,0,0.5); border:1px solid #fff; transition:all 0.5s ease 0s;}
.film_details .posterbox2 a:hover img{ box-shadow:0px 0px 7px rgba(0,0,0,0.7); }

/* ========================================================================================================= */
