/* ================================================================================================================ */

.works h2 { position:absolute; left:5%; top:-140px; width:500px; height:100px; text-indent:-10000px; background:url(../image/works_title.png) no-repeat; border:0px solid #f00; }
.works ul.cate { position:absolute; right:5%; top:-70px; border:0px solid #f00; }
.works ul.cate li{ float:left; cursor:pointer; user-select:none;}
.works ul.cate li a { display:block; font:20px/30px "微软雅黑"; color:#fff; margin-left:20px; margin-bottom:40px; padding-left:35px; border:0px solid #f00; }
.works ul.cate li a:hover { color:#fff !important; }
.works ul.cate li a.wkwx { background:url(../icons/work_wx.png) no-repeat; }
.works ul.cate li a.wkpc { background:url(../icons/work_pc.png) no-repeat; }
.works ul.cate li a.wkpg { background:url(../icons/work_pg.png) no-repeat; }
.works ul.cate li a.wkapp { background:url(../icons/work_app.png) no-repeat; }
.works ul.cate li.active { background:url(../image/work_cateslt.png) no-repeat right bottom; }

.wkmobs:after { display:block; content:""; clear:both; }
.wkmobs li { float:left; width:16.5%; text-align:center; cursor:pointer; border:0px solid #f00; }
.wkmobs li a { font-size:0; position:relative; display:block; margin:2% 3%; box-shadow:0 0 1px rgba(0,0,0,0.2); opacity:0.8; overflow:hidden; transition:all 0.5s ease; border:4px solid #fff; }
.wkmobs li a img { width:100%; }
.wkmobs li a .qrcode { position:absolute; left:0; top:0; width:100%; height:100%; background:url(../image/bg-black70.png); opacity:0; transition:all 0.3s ease-in; }
.wkmobs li a .qrcode canvas { position:absolute; left:50%; top:55%; width:110px; margin:-60px 0 0 -60px; border:5px solid #fff; opacity:0; transition:all 0.3s ease-in; -webkit-transition:all 0.3s ease-in; }
.wkmobs li a .qrcode img{  position:absolute; left:50%; top:55%; width:110px; margin:-60px 0 0 -60px; border:5px solid #fff;  transition:all 0.3s ease-in; -webkit-transition:all 0.3s ease-in;  }
.wkmobs li a .qrcodeImg canvas{ display:none }
.wkmobs li p { display:inline-block; max-width:70%; padding:5px 10px; margin:10px; font:15px/1em "微软雅黑"; color:#555; background:#EEEEE9; border-radius:4px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; transition:all 0.5s ease; }
.wkmobs li:hover a { opacity1:1; }
.wkmobs li:hover p { box-shadow:0 0 1px rgba(0,0,0,0.3); border-radius:9px; }
.wkmobs li:hover a .qrcode { opacity:1; }
.wkmobs li:hover a canvas { top:50%; opacity:1; }

.works_wx { background:url(../image/wkwx_hdbg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
.works_wx .content{ position:relative; background:#DCDDD3;  padding:3% 5%; border:0px solid #f00; }
.works_wx .content h3{ font:22px/35px "微软雅黑"; color:#000; font-weight:bold; margin-bottom:0.8em; margin-left:0.3%; border:0px solid red; }


.works_wx .content .subcate{ position:relative; height:30px; margin-bottom:10px; margin-left:0.4%; border:0px solid #f00; }
.works_wx .content .subcate p { position:absolute; left:0; top:0; color:#949682; }
.works_wx .content .subcate ul{ margin-left:50px; }
.works_wx .content .subcate ul li{ float:left; display:block; font:15px/25px "微软雅黑"; color:#abad9a; background:#D5D6CC; padding:0 10px; margin:0 5px; border-radius:3px; cursor:pointer; }
.works_wx .content .subcate ul li.selected{ background:#D0D1C8; color:#949682; }
.works_wx .content .subcate ul li.hover{ background:#D0D1C8; color:#949682; }

.works_wx .content .frames { border:0px solid #f00; }
.works_wx .content .frames ul:after{ display:block; content:""; clear:both; }
.works_wx .content .frames ul li{ float:left; box-sizing:border-box; width:24%; margin:0.5%; background:#fff; text-align:center; border:0px solid #f00; }
.works_wx .content .frames ul li img{ width:98%; margin:1%; }

.works_wx .content hr { border:none; border-top:1px solid #c9cbba; margin:3% 0; }

/* ================================================================================================================ */

#work_app { background:#DCDDD3 url(http://qnstudio.houheaven.com/image/wkwx_hdbg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
#work_app .content{ position:relative; background:#DCDDD3; padding:5% 5%; border:0px solid #f00; }

.empty { margin:100px auto; }

#work_app .content p.declare { font:16px/5em "微软雅黑"; color:#777; text-indent:10px; clear:both; border:0px solid #f00; display:none; }
#work_app .content p.declare a { color:#777; margin-right:5px; border-bottom:1px solid #999; }
#work_app .content p.declare a:hover { color:#2DB245; border-bottom:1px solid #2DB245; }



/* ================================================================================================================ */

.works_pc { background:#DCDDD3 url(http://qnstudio.houheaven.com/image/wkpc_hdbg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
.works_pc .content { position:relative; background:#DCDDD3; padding:5%; border:0px solid #f00;}

.hhGallery3 { position: relative; z-index: 50; display:block; width:100%; margin: auto; border:0px solid #f00; }
.hhGallery3:after { display:block; content:""; clear:both;}
.hhGallery3 li { float:left; position:relative; display:block; width:20%; height:240px; box-sizing: border-box; border:0px solid #f00; }
.hhGallery3 li .wrap { position:absolute; left:2%; top:2%; width:96%; height:94%; border:0px solid #fff; box-sizing: border-box; overflow:hidden; }
.hhGallery3 li.bigimg { width:40%; height:480px; }
.hhGallery3 li.bigimg .wrap { position:absolute; left:1%; top:1%; width:98%; height:97%; }

.hhGallery3 li .wrap > * { -webkit-transition:all 0.2s linear 0s; -moz-transition:all 0.2s linear 0s; transition:all 0.2s linear 0s; }
.hhGallery3 li .pics { position:absolute; left:0; top:0; width:100%; height:100%; z-index:10; }
.hhGallery3 li .info { position:absolute; left:0; top:0; width:100%; height:100%; background:url(../image/bg-black60.png); opacity:0; }
.hhGallery3 li .info h3 { font:20px/25px "微软雅黑"; color:#fae074; margin:20px 20px 20px; border-bottom:0px solid #eee;}
.hhGallery3 li .info p  { font:15px/1.5em "微软雅黑"; color:#fbeba9; margin:5px 20px; }
.hhGallery3 li .data { position:absolute; right:20px; top:24px; font:22px/25px "微软雅黑"; color:#fae074; opacity:0; }
.hhGallery3 li .like { position:absolute; right:20px; top:20px; font:22px/25px "微软雅黑"; color:#fae074; opacity:0; cursor:pointer; }
.hhGallery3 li .like:before { display:block; float:left; font:22px/25px "iconfont"; content:"\e601"; margin-right:5px; }
.hhGallery3 li .like:hover:before { color:#f2ca24; transform:scale(1.2,1.2); }

.hhGallery3 li:hover .pics { -webkit-transform:scale(1.1,1.1); -moz-transform:scale(1.1,1.1); transform:scale(1.1,1.1); }
.hhGallery3 li:hover .info { opacity:1; z-index:20; }
.hhGallery3 li:hover .like { opacity:1; z-index:20; }
.hhGallery3 li:hover .data { opacity:1; z-index:20; }


/* ================================================================================================================ */

.works_pg { background:#DCDDD3 url(http://qnstudio.houheaven.com/image/wkpg_hdbg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
.works_pg .content{ position:relative; background:#DCDDD3; padding:3% 5%; border:0px solid #f00; }

.works_pg .content .wrap { margin:2% 0 5%; border:0px solid #f00; }
.works_pg .content .wrap h3{ font:20px/35px "微软雅黑"; color:#7a7d63; margin-bottom:0.8em; margin-left:0.3%; border:0px solid red; }
.works_pg .content .wrap h3.num01{ padding-left:45px; background:url(../icons/num01.png) no-repeat; }
.works_pg .content .wrap h3.num02{ padding-left:45px; background:url(../icons/num02.png) no-repeat; }
.works_pg .content .wrap h3.num03{ padding-left:45px; background:url(../icons/num03.png) no-repeat; }
.works_pg .content .wrap h3.num04{ padding-left:45px; background:url(../icons/num04.png) no-repeat; }
.works_pg .content .wrap ul:after{ display:block; content:""; clear:both; }
.works_pg .content .wrap ul li{ float:left; box-sizing:border-box; width:24%; margin:0.5%; background:#fff; text-align:center; border:0px solid #f00; }
.works_pg .content .wrap ul li img{ width:98%; margin:1%; }

.works_pg .content p { font:15px/1.6em "微软雅黑"; }
.works_pg .content a { transition:all 0.3s ease 0s; }
.works_pg .content a:hover { color:#F33; }

/* ================================================================================================================ */

#contact{ background:#DCDDD3 url(http://qnstudio.houheaven.com/image/contact_bg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
#contact .content{ position:relative; background:#DCDDD3; padding:3% 5%; border:0px solid #f00; }
#contact .content h2{ position:absolute; width:500px; height:100px; left:5%; top:-88px; top:-140px; text-indent:-10000px; background:url(../image/contact_title.png) no-repeat; border:0px solid #f00; }
#contact .content h3{ font:20px/1.4em "微软雅黑"; margin-bottom:0.8em; }
#contact .content p { font:15px/1.6em "微软雅黑"; }
#contact .content a { transition:all 0.3s ease 0s; }
#contact .content a:hover { color:#F33; }

/* ================================================================================================================ */

#coop{ background:#DCDDD3 url(http://qnstudio.houheaven.com/image/coop_bg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
#coop .content{ position:relative; background:#DCDDD3; padding:3% 5%; border:0px solid #f00; }
#coop .content h2{ position:absolute; width:500px; height:100px; left:5%; top:-88px; top:-140px; text-indent:-10000px; background:url(../image/coop_title.png) no-repeat; border:0px solid #f00; }
#coop .content h3{ font:20px/35px "微软雅黑"; margin-bottom:0.8em; }
#coop .content h3.num01{ padding-left:45px; background:url(../icons/num01.png) no-repeat; }
#coop .content h3.num02{ padding-left:45px; background:url(../icons/num02.png) no-repeat; }
#coop .content h3.num03{ padding-left:45px; background:url(../icons/num03.png) no-repeat; }
#coop .content h3.num04{ padding-left:45px; background:url(../icons/num04.png) no-repeat; }
#coop .content h4{ font:bold 15px/2em "微软雅黑"; margin-top:0.7em; }
#coop .content p { font:15px/1.6em "微软雅黑"; }
#coop .content a { transition:all 0.3s ease 0s; }
#coop .content a:hover { color:#F33; }

/* ================================================================================================================ */

#member{ background:#DCDDD3 url(http://qnstudio.houheaven.com/image/mm_bg.jpg) no-repeat center top fixed; background-size:100% auto; border:0px solid #fff; }
#member .content{ position:relative; background:#DCDDD3; padding:3% 5%; border:0px solid #f00; }
#member .content h2{ position:absolute; width:500px; height:100px; left:5%; top:-88px; top:-140px; text-indent:-10000px; background:url(../image/mm_title.png) no-repeat; border:0px solid #f00; }
#member .content .mmlist{ margin-bottom:50px; border:0px solid #f00; }
#member .content .mmlist:after{ display:block; content:""; clear:both; }
#member .content .mmlist > div{ position:relative; float:left; width:48.5%; margin-bottom:2%; background:#f5f5f5; border:0px solid #f00; }
#member .content .mmlist > div .portrait{ float:left; width:20%; margin:3%; border:0px solid #f00; }
#member .content .mmlist > div .info{ float:left; width:70%; min-height:300px; margin:3% 3% 3% 0; }
#member .content .mmlist > div .info h4{ font:22px/70px "微软雅黑"; margin-bottom:15px; border-bottom:1px solid #ddd; }
#member .content .mmlist > div .info p { font:14px/1.6em "微软雅黑"; }
#member .content .mmlist > div .info p.more { margin-top:15px; display:inline-block; }

#member .content h3{ font:18px/35px "微软雅黑"; color:#777; margin-bottom:1.3em; background:rgba(255,255,255,0.5); padding:0 10px; display:inline-block; }
#member .content p { font:15px/1.6em "微软雅黑"; }
#member .content a { transition:all 0.3s ease 0s; }
#member .content a:hover { color:#F33; }
#member .content .bq{ display:inline-block; width:40px; }

/* ================================================================================================================ */

#about{ background:#DCDDD3 url(http://qnstudio.houheaven.com/image/about_bg.jpg) no-repeat right top fixed; border:0px solid #fff; }
#about .content{ position:relative; background:#DCDDD3; padding:3% 5%; border:0px solid #f00; }
#about .content h2{ position:absolute; width:500px; height:100px; left:5%; top:-88px; top:-140px; text-indent:-10000px; background:url(../image/about_title.png) no-repeat; border:0px solid #f00; }
#about .content h3{ font:20px/1.4em "微软雅黑"; margin-bottom:0.8em; }
#about .content p { font:15px/1.6em "微软雅黑"; }

/* ================================================================================================================ */