{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/style/article.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/laytpl.js"></script>
<script src="/public/web/script/article_tpl.js"></script>
{% endblock %}


{% block content %}
    <div class="framepage article">
    	<div class="container">
    		<ul class="list">

                {% for article in articleList %}
    			  {% if article.centerImg  %}
    			  <li class="haveImg">
			      <img class="centerImg" src="{{article.centerImg}}">
			      {% else  %}
                  <li>
			      {% endif %}
				  <div class="content">
				    <div class="author">
				        <img class="avatar" src="{{article.avatar||'/public/web/image/portrait01.png'}}">    
					    <div class="info">
					        <a class="nickname">{{article.author}}</a>
					        <span class="time">{{article.createtime.substr(0,16)}}</span>
					    </div>
				    </div>
				    <p class="title"><a href="/article_details?id={{article.id}}" >{{article.title}}</a></p>
				    <p class="abstract">{{article.abstract}}</p>
				  </div>
			    </li>
			    {% endfor %}
            </ul>
    		<div class="panigation">
                <div class="info">共 <span class="totalPage">{{totalPage}}</span> 页，每页 {{pageSize}} 条数据</div>
                <div class="page"></div>
            </div>
    	</div>
    </div>
	<script type="text/javascript">
	    $("body").append(article_tpl);
	    var pages = $(".totalPage").text()
	    laypage({
	        cont: $(".page"),
	        skin: 'yahei',
	        curr: 1,                    //初始化当前页
	        pages: pages,               //可以叫服务端把总页数放在某一个隐藏域，再获取。
	        jump: function(e, first){   //触发分页后的回调
	            if(!first){             //一定要加此判断，否则初始时会无限刷新
	                url = "/api/admin/article/articleList?pageNo="+e.curr
	                Ajax(url,function(ret){
	                    tpl = $("#tpl_article").html();
	                    laytpl(tpl).render(ret.data,function(html){ $(".list").html(html) })
	                })
	            }
	        }
	    })
	</script>