{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/style/article.css" />
{% endblock %}
{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}


{% block content %}
    <div class="framepage article">
    	<div class="container">
    		<ul class="list">
    			<li class="haveImg">
			      <img class="centerImg" src="//upload-images.jianshu.io/upload_images/4800119-988b7119d113cea0?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240">
				  <div class="content">
				    <div class="author">
				        <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/4800119/5214d79f-7464-471c-aaa0-8946c22dfd4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">    
					    <div class="info">
					        <a class="nickname">潘城王小古</a>
					    </div>
				    </div>
				    <p class="title"><a href="#">王小波：我一生的黄金时代</a></p>
				    <p class="abstract">当代诗人臧克家在纪念鲁迅先生逝世十三周年时写过一首抒情诗《有的人》：“有的人活着，他已经死了；有的人死了，他还活着。”1997年4月11日，一个再平常不过的日子，远在英国剑桥大学做访问学者的李银河怎么也不会想到，去年10月的机场一别，竟然会是她和爱人王小波的永别...</p>
				  </div>
			    </li>
			    <li class="haveImg">
			      <img class="centerImg" src="//upload-images.jianshu.io/upload_images/3459828-e79f25bd11163560.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240">
				  <div class="content">
				    <div class="author">
				        <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/3459828/bffe61dd-0078-4f8f-95f5-865ee09c139d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">    
					    <div class="info">
					        <a class="nickname">有备而来的路人甲</a>
					    </div>
				    </div>
				    <p class="title"><a href="#">以文艺的情怀，寻觅有故事的上海弄堂</a></p>
				    <p class="abstract">魔都除了光怪陆离，灯红酒绿，还有老上海平凡的弄堂故事。上海弄堂，浮华城市的平静梦，就连当初那么风起云涌的历史也都归为尘土，消散在弄堂午后的阳光里了。我刚来上海的时候，朋友月月（上海人）就对我说:其实，上海还是一个可以行走的城市，楼与楼之间有小路，只留给行人...</p>
				  </div>
			    </li>
			    <li class="haveImg">
			      <img class="centerImg" src="//upload-images.jianshu.io/upload_images/5057483-bc485c393f573d8d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240">
				  <div class="content">
				    <div class="author">
				        <img class="avatar" src="//upload.jianshu.io/users/upload_avatars/2041831/a9cdee47-2ede-4757-8a86-bee63ff25c8c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">    
					    <div class="info">
					        <a class="nickname">无戒</a>
					    </div>
				    </div>
				    <p class="title"><a href="#">其实，这世界从来不曾公平</a></p>
				    <p class="abstract">2018年4月15日，小雨四月的北方，天气反复无常，前些天艳阳高照，仿佛夏天来临了。而这些天，天气突变，大风呼啸，始终阴沉沉的，伴随着小雨，出门的时候总能感受到透心凉。乍暖还寒，北方的春天总是这样，反复无常。躺在沙发上看书，感觉身体越来越不好了，肩颈、腰椎、手臂，几乎无一处是舒服的...</p>
				  </div>
			    </li>
    		</ul>
    	</div>
    </div>
{% endblock %}