{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/style/blog.css" />
{% endblock %}
{% block js %}
{% endblock %}


{% block content %}
    <div class="framepage blog_details">
    	<div class="container">
    		<div class="content">
    			<div class="title">{{blog.title}}</div>
    			<div class="time">{{blog.createtime.substr(0,16)}}</div>	
                <div class="text">
                  {{ blog.content }}
                </div>
    		</div>
        </div>
    </div>
{% endblock %}