{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/style/blog.css" />
{% endblock %}
{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}


{% block content %}
    <div class="framepage blog">
    	<div class="container">
    		<ul class="list">
    			<li>
				  <div class="content">
				    <p class="title">
				    	<a href="#">小程序开发UnionID机制说明,微信开放平台绑定小程序流程</a>
				    	<span class="time">2018-02-10 13:25</span>
				    </p>
				    <p class="abstract">如果开发者拥有多个移动应用、网站应用、和公众帐号（包括小程序），可通过unionid来区分用户的唯一性，因为只要是同一个微信开放平台帐号下的移动应用、网站应用和公众帐号（包括小程序），用户的unionid是唯一的。换句话说，同一用户，对同一个微信开放平台下的不同应用，unionid是相同的。同一个微信开放平台下的相同主体的App、公众号、小程序，如果用户已经关注公众号，或者曾经登录过App或公众号，则用户打开小程序时，开发者可以直接通过wx.login获取到该用户UnionID，无须用户再次授权...</p>
				  </div>
				  <div class="tags">标签：<span>小程序</span><span>前端</span></div>
			    </li>
			    <li>
				  <div class="content">
				    <p class="title">
				    	<a href="#">React.js学习总结</a>
				    	<span class="time">2018-01-08 22:25</span>
				    </p>
				    <p class="abstract">React 是一个用于构建用户界面的 JAVASCRIPT 库。React主要用于构建UI，很人多认为 React 是 MVC 中的 V（视图）。React 起源于 Facebook 的内部项目，用来架设 Instagram 的网站，并于 2013 年 5 月开源。React 拥有较高的性能，代码逻辑非常简单，越来越多的人已开始关注和使用它...</p>
				  </div>
				  <div class="tags">标签：<span>小程序</span><span>前端</span></div>
			    </li>
			    <li>
				  <div class="content">
				    <p class="title">
				    	<a href="#">图表库ECharts的使用</a>
				    	<span class="time">2018-01-02 21:25</span>
				    </p>
				    <p class="abstract">ECharts是一个兼容绝大部分浏览器，可流畅运行在PC和移动设备上的纯 Javascript 的图表库。ECharts 提供了折线图，柱状图，散点图，饼图，K线图，盒形图等常规图，还有可视化的地图、热力图、线图，、可视化的关系图等。多样的图表、丰富绚丽的视觉效果、流畅的交互，用来做数据统计分析是再好不过了。 1、引入echarts.js...</p>
				  </div>
				  <div class="tags">标签：<span>小程序</span><span>前端</span></div>
			    </li>
			    <li>
				  <div class="content">
				    <p class="title">
				    	<a href="#">推荐一个免费7天天气预报API服务：和风天气 免费推荐</a>
				    	<span class="time">2017-12-05 22:05</span>
				    </p>
				    <p class="abstract">首先，这不是软文。最近的一个项目中需要获取国内城市的7天内天气预报，说实话，目前的开源环境中仅存的天气预报API太少，找了许久才发现知乎里面提到的“和风天气”，或许你也曾遇到过这样的问题。和风天气需要注册成为认证开发者才能获得免费7天天气预报的资格，注册还是很简单的，我这边申请的认证开发者一天就通过了...</p>
				  </div>
				  <div class="tags">标签：<span>小程序</span><span>前端</span></div>
			    </li>
    		</ul>
    	</div>
    </div>
{% endblock %}