{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/plug/hhscroll/hhScroll.css" />
<link rel="stylesheet" href="/public/web/style/film.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/hhscroll/hhScroll.js"></script>
<script>
$(document).ready(function(){
	
	$(".Update").hhscroll({
		width:1100,
		height:450,
		controlorStyle:"ctrl02",
		borderWidth:3,
		borderColor:"#000",
		borderRadius:0,
		shadowWidth:0
	});
	
});
</script>

{% endblock %}


{% block content %}
    <div class="framepage flim">
        <div class="container">   
		    <div class="Update">
		      {% for banner in bannerList %}
		      <div>
		        <img src="{{banner.banner_img}}" />
		        <div class="Info">
			        <h3>{{banner.banner_title}}</h3>
			        <p>{{banner.banner_desp}}</p>
		        </div>
		      </div>
		      {% endfor %}
		    </div>

	        <div class="wrap">
		      <h2>热门电影</h2>
		      <ul class="list">
			      <li>
			      	<a href='film_details'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1515383699626_ET外星人_POS001.jpg?imageView2/1/w/210/h/280' alt='E.T. 外星人' />
			      		<p>E.T. 外星人</p>
			      	</a>
			      </li>
			      <li>
			      	<a href='film_details'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1515141426040_人工智能_POS001.jpg?imageView2/1/w/210/h/280' alt='人工智能' />
			      		<p>人工智能</p>
			      	</a>
			      </li> 
		      </ul>
		      <p class="clear"></p>
		    </div>
      
		      <div class="wrap">
			      <h2>热门电视剧</h2>
			      <ul class="list">
				      <li>
				      	<a href='film_details'>
				      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1515141470406_行尸走肉S01.jpg' alt='E.T. 外星人' />
				      		<p>行尸走肉</p>
				      	</a>
				      </li>
			      </ul>
			      <p class="clear"></p>
		      </div>
      
		      <div class="wrap">
			      <h2>热门动漫</h2>
			      <ul class="list">
					<li>
						<a href='film_details'>
							<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1515141728984_u=2970648277,3592631941&fm=27&gp=0.jpg?imageView2/1/w/210/h/280' alt='E.T. 外星人' /><p>名侦探柯南</p></a>
					</li>
			      </ul>
			      <p class="clear"></p>
		      </div>
      
		      <div class="wrap">
			      <h2>网络视频</h2>
			      <ul class="linkA">
			      	  <li><a href="https://v.qq.com/x/cover/2ai09jkp79m1acm/n0525qgvyqx.html">暴走大事件 2017大事件盘点</a></li>
				      <li><a href="https://movie.douban.com/annual/2017?source=navigation">豆瓣 2017年度电影</a></li>
			      </ul>
			      <p class="clear"></p>
		      </div>

        </div>
    </div>
{% endblock %}