{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/plug/hhscroll/hhScroll.css" />
<link rel="stylesheet" href="/public/web/style/film.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/hhscroll/hhScroll.js"></script>
<script>
$(document).ready(function(){
	
	$(".Update").hhscroll({
		width:1100,
		height:450,
		controlorStyle:"ctrl02",
		borderWidth:3,
		borderColor:"#000",
		borderRadius:0,
		shadowWidth:0
	});
	
});
</script>

{% endblock %}


{% block content %}
    <div class="framepage film">
        <div class="container">   
		    <div class="Update">
		      {% for banner in bannerList %}
		      <div>
		        <img src="{{banner.banner_img}}" />
		        <div class="Info">
			        <h3>{{banner.banner_title}}</h3>
			        <p>{{banner.banner_desp}}</p>
		        </div>
		      </div>
		      {% endfor %}
		    </div>

	        <div class="wrap">
		      <h2>热门电影</h2>
		      <ul class="list">
			      <li>
			      	<a href='film_details'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539057558826_大佛普拉斯.jpg?imageView2/1/w/210/h/280' alt='大佛普拉斯' />
			      		<p>大佛普拉斯</p>
			      	</a>
			      </li>
			      <li>
			      	<a href='#'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539057553162_爆裂无声.jpg?imageView2/1/w/210/h/280' alt='爆裂无声' />
			      		<p>爆裂无声</p>
			      	</a>
			      </li>
			      <li>
			      	<a href='#'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1540361807393_血观音.jpg?imageView2/1/w/210/h/280' alt='血观音' />
			      		<p>血观音</p>
			      	</a>
			      </li> 
			      <li>
			      	<a href='#'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539074573606_霸王别姬.jpg?imageView2/1/w/210/h/280' alt='霸王别姬' />
			      		<p>霸王别姬</p>
			      	</a>
			      </li> 
			      <li>
			      	<a href='#'>
			      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539075706478_肖申克的救赎.jpg?imageView2/1/w/210/h/280' alt='肖申克的救赎' />
			      		<p>肖申克的救赎</p>
			      	</a>
			      </li>
		      </ul>
		      <p class="clear"></p>
		    </div>
      
		      <div class="wrap">
			      <h2>热门电视剧</h2>
			      <ul class="list">
				      <li>
				      	<a href='#'>
				      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539057374581_%E5%A6%82%E6%87%BF%E4%BC%A0.jpg?imageView2/1/w/210/h/280' alt='如懿传' />
				      		<p>如懿传</p>
				      	</a>
				      </li>
				      <li>
				      	<a href='#'>
				      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539074194866_延禧攻略.jpg?imageView2/1/w/210/h/280' alt='如懿传' />
				      		<p>延禧攻略</p>
				      	</a>
				      </li>
				      <li>
				      	<a href='#'>
				      		<img class='lazy' src='/public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539074186136_高堡奇人.jpg?imageView2/1/w/210/h/280' alt='如懿传' />
				      		<p>高堡奇人</p>
				      	</a>
				      </li>
			      </ul>
			      <p class="clear"></p>
		      </div>

        </div>
    </div>
{% endblock %}