{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/plug/fancybox/jquery.fancybox.css">
<link rel="stylesheet" href="/public/web/style/film.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/fancybox/jquery.fancybox.js"></script>
<script>
	// 查看大图
    setTimeout(function(){
		$(".fancybox").fancybox({
			'closeBtn':false,
			'nextEffect':'fade',
			'prevEffect':'fade',
			'overlayColor':'#000',
			'overlayOpacity':0.8,
			"centerOnScroll":true
		});
	},500);
</script>

{% endblock %}


{% block content %}
    <div class="framepage film_details">
        <div class="container">   
		<div class="wp1">
		      <h1>大佛普拉斯</h1>
		      <div class="Section Meiju_Info"><h3>电影信息</h3><div>
		      <div class="left">
			        <img src="http://p0mewrlgg.bkt.clouddn.com/1539057558826_大佛普拉斯.jpg?imageView2/2/w/200" alt="大佛普拉斯" />
			        <div class="UserFeel"></div>
		      </div>
		      <div class="right">
			        <table>
				        <tr>
				          <td colspan="2" class="title">大佛普拉斯</td>
				        </tr>
				        <tr class="director">
				          <td width="50">导演：</td>
				          <td><a href="javascript:;">黄信尧</a></td>
				        </tr>
				        <tr class="writer">
				          <td>编剧：</td>
				          <td>黄信尧</td>
				        </tr>
				        <tr class="actor">
				            <td>主演：</td>
				            <td colspan="3">庄益增 / 陈竹昇 / 戴立忍 / 张少怀 / 陈以文
				            <!--
				            <a href="http://baike.baidu.com/view/1922736.htm" target="_blank">吉姆·帕森斯（饰 谢尔顿）</a>、
				            <a href="http://baike.baidu.com/view/2817170.htm" target="_blank">约翰尼·盖尔克奇（饰 莱纳德）</a>、
				            <a href="http://baike.baidu.com/view/4040863.htm" target="_blank">西蒙·赫尔伯格（饰 霍沃德）</a>、
				            <a href="http://baike.baidu.com/view/4040852.htm" target="_blank">昆瑙·内亚（饰 拉吉）</a>、
				            <a href="http://baike.baidu.com/view/4040875.htm" target="_blank">卡蕾·措科（饰 佩妮）</a>、
				            <a href="http://baike.baidu.com/view/8633907.htm" target="_blank">马伊姆·拜力克（饰 艾米）</a> 等
				            -->
				            </td>
				        </tr>
				        <tr><td>类别：</td><td>剧情 / 喜剧</td></tr>
				        <tr><td>地区：</td><td>台湾</td></tr>
				        <tr><td>上映：</td><td> 2017-06-29(台北电影节) / 2017-10-13(台湾)</td></tr>
				        <tr class="intro">
				            <td>简介：</td>
				            <td>
				            <div class="summary">
				            <p>菜埔（庄益增 饰）是一家雕塑厂的夜间保安，家中有一位重病的老母亲需要照顾。肚财（陈竹昇 饰）是菜埔唯一的朋友，菜埔经常在值夜班的时候把肚财叫过来和他作伴。一天，两人突发奇想决定看一看菜埔的老板黄启文（戴立忍 饰）的行车记录仪里记录了哪些影像，希望向来风流的老板能够贡献出一些精彩的片段以解两个独身男人内心里的寂寞之苦。 行车记录仪所记录的影像果然没有让菜埔和肚财失望，但与此同时，两人也发现了黄启文的许多不可告人的秘密。实际上，菜埔和肚财的一举一动皆没有逃过黄启文的眼睛，为了保住自己的地位和名声，他决定采取一些必要的行动</div>
				            <p class='showall'><span>[ 显示全部 ]</span></p>
				            </td>
				        </tr>
				        <tr><td colspan="2" class="more"><a href="#" target="_blank">更多其他详细信息，请点击</a></td></tr>
			        </table>
		      </div>
		    </div>
		</div>
		</div>
	    
	    
	    <div class="wp2">
	    
	      <div class="Section Meiju_download">
	      <h3>下载专区</h3>
	      <div>暂无下载</div>
	      </div>    
	    </div>
	    
	    
	    <div class="wp3">
		    <div class="posterbox1">
		      <h2>海报</h2>
		      <div>
		      	<a rel='fancy_poster' class='fancybox' href='http://p0mewrlgg.bkt.clouddn.com/1539058719526_大佛普拉斯3.jpg'><img class='lazy' src='public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539058719526_大佛普拉斯3.jpg?imageView2/0/h/350' alt='大佛普拉斯' title='大佛普拉斯海报' /></a>

				<a rel='fancy_poster' class='fancybox' href='http://p0mewrlgg.bkt.clouddn.com/1539058701329_大佛普拉斯2.jpg'><img class='lazy' src='public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539058701329_大佛普拉斯2.jpg' alt='大佛普拉斯' title='大佛普拉斯海报' /></a>

				<a rel='fancy_poster' class='fancybox' href='http://p0mewrlgg.bkt.clouddn.com/1539058739294_大佛普拉斯.jpg'><img class='lazy' src='public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539058739294_大佛普拉斯.jpg?imageView2/0/h/350' alt='大佛普拉斯' title='E.T. 大佛普拉斯海报' /></a>

		      </div>
		      </div>

		    <div class="posterbox2">
		      	<h2>剧照图片</h2>
		        <div>
					<a rel='fancy_picture' class='fancybox' href='http://p0mewrlgg.bkt.clouddn.com/1539059083851_剧照2.jpg'><img class='lazy' src='public/web/image/lazy_400x200.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539059083851_剧照2.jpg?imageView2/1/w/320/h/200' alt='大佛普拉斯' title='大佛普拉斯' /></a>  
					<a rel='fancy_picture' class='fancybox' href='http://p0mewrlgg.bkt.clouddn.com/1539059084037_剧照3.jpg'><img class='lazy' src='public/web/image/lazy_400x200.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539059084037_剧照3.jpg?imageView2/1/w/320/h/200' alt='大佛普拉斯' title='大佛普拉斯' /></a>     
					<a rel='fancy_picture' class='fancybox' href='http://p0mewrlgg.bkt.clouddn.com/1539059082911_剧照.jpg'><img class='lazy' src='public/web/image/lazy_400x200.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539059082911_剧照.jpg?imageView2/1/w/320/h/200' alt='大佛普拉斯' title='大佛普拉斯' /></a>   
                </div>
	        </div>
	    </div>
	    
	    
	    <div class="wp4">
	        <div class="Section Meiju_relative">
	            <h3>类似电影</h3>
	            <div>
					<a href='#'><img class='lazy' src='public/web/image/lazy_200x250.jpg' data-src='http://p0mewrlgg.bkt.clouddn.com/1539057553162_爆裂无声.jpg?imageView2/1/w/210/h/280' alt='暴裂无声' title='暴裂无声' /></a>  
			   </div>
	      </div>
        </div>

    </div>
{% endblock %}