{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/plug/swiper/swiper.min.css" />
<link rel="stylesheet" href="/public/web/style/music.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/swiper/swiper.min.js"></script>
<script>
    $(document).ready(function(){
       new Swiper(".banner",{
            loop:true,
            pagination:'.p1',
            speed:1500,
            autoplay:2500,
            lazyLoading:true
        });

    })
</script>
{% endblock %}


{% block content %}
    <div class="framepage music">
      <div class="container">
      	<div class="main">
	      	<div class="leftCon">
	      		<div class="Con">
		            <div class="swiper-container banner">
		                <div class="swiper-wrapper">
		                    <div class="swiper-slide"><img src="http://pic.xiami.net/images/common/uploadpic/37/1523932649937.jpg" /></div>
		                    <div class="swiper-slide"><img src="http://pic.xiami.net/images/common/uploadpic/46/1523845403546.jpg" /></div>
		                    <div class="swiper-slide"><img src="http://pic.xiami.net/images/common/uploadpic/37/1523882985137.jpg" /></div>
		                    <div class="swiper-slide"><img src="http://pic.xiami.net/images/common/uploadpic/25/1523722898225.jpg" /></div>
		                </div>
		                <div class="swiper-pagination p1"></div>
		            </div> 
		            <p class="title">热门歌手</p>
		            <ul class="list">
		            	{% for item in singer %}
	                    <li class="artist">
	                    	<a href="#">
							<div class="image">
								<img src="{{item.centerImg}}" height="100" width="100">
							</div>
							<div class="info">
								<p><strong><a href="#" >{{item.name}}</a></strong></p>
								<p>{{item.fans}}</p>
							</div>
						    </a>
						</li>
						{% endfor %}
		            </ul>
	            </div>
	      	</div>
	      	<div class="rightCon">
	      		<div class="Con">
	      		    <p class="title">推荐歌曲</p>
	      		    <ul class="list">
	      		    	{% for item in song %}
                           <li><a href="#">{{item.title}}</a><a href="#" class="name">{{item.name}}</a></li>
	      		    	{% endfor %}
	      		    	<li><a href="#">烟火里的尘埃</a><a href="#" class="name">华晨宇</a></li>
	      		    	<li><a href="#">我们</a><a href="#" class="name">陈奕迅</a></li>
	      		    	<li><a href="#">成都</a><a href="#" class="name">赵雷</a></li>    
	      		    	<li><a href="#">岁月神偷</a><a href="#" class="name">金岐玟</a></li>
	      		    	<li><a href="#">凉城</a><a href="#" class="name">任然</a></li>
	      		    	<li><a href="#">告白气球</a><a href="#" class="name">周杰伦</a></li>
	      		    </ul>
	      	    </div>
	      	</div>
        </div>
      </div>
    </div>
{% endblock %}