{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/style/picture.css" />
<link rel="stylesheet" href="/public/web/plug/album/album.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/album/album.js"></script>
<script src="/public/web/script/picture.js"></script>
{% endblock %}


{% block content %}
    <div class="framepage picture">
	    <div class="wrapper">
	    	图片收藏
<!-- 	    <form class="form registerFm">
	            <div class="fm tip">图片上传</div>
	            <div class="fm"><a class="btn imgChoose">相册</a></div>
	        </form> -->
	    </div>
    </div>
{% endblock %}