{% extends  "./layouts/layout.html" %}
{% block css %}
<link rel="stylesheet" href="/public/web/style/work.css" />
{% endblock %}
{% block js %}
<script src="/public/web/plug/qrcode.js"></script>
<script src="/public/web/script/work.js"></script>
{% endblock %}


{% block content %}
    <div class="work framepage">
	  <div class="wrapper works works_wx">
	      <div class="content">
		      <h2>作品</h2>
		      <ul class="cate">
			      <li class="active"><a class="wkwx">微信开发</a></li>
			      <li><a class="wkpc">网站开发</a></li>
			      <li><a class="wkpg">插件开发</a></li>
			      <li><a class="wkapp">APP 开发</a></li>
		      </ul>
		      
		      <div class="wxwebs">
		        <h3>微信小程序</h3>
		        <div class="subcate">
		          <p>分类：</p>
		          <ul>
			          <li class="selected">全部</li>
			          <li>餐饮</li>
			          <li>电商</li>
			          <li>票务</li>
			          <li>会员营销</li>
			          <li>其他</li>
		          </ul>
		        </div>
		        <ul class="wkmobs">
			      <li>
			      	<a data-href="https://weixin.chinauff.com/lnj-weixin/console/dc/index?a=4707DF067F5710102C50391A782F6D4CDCC8CC9C90877679">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini.jpg" alt="老娘舅点餐" title="老娘舅点餐" />
			      	<div class="qrcode"></div>
			        </a>
			        <p>老娘舅点餐</p>
			      </li>

			      <li>
			      	<a data-href="">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini2.jpg" alt="久事美术馆" title="久事美术馆" />
			      	<div class="qrcode qrcodeImg"><img src="public/web/image/qrcode2.jpg" /></div>
			        </a>
			        <p>久事美术馆</p>
			      </li>
			      <li>
			      	<a data-href="">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini3.jpg" alt="克莉丝汀" title="克莉丝汀" />
			      	<div class="qrcode qrcodeImg"><img src="public/web/image/qrcode3.jpg" /></div>
			        </a>
			        <p>克莉丝汀甜蜜之约</p>
			      </li>
			      <li>
			      	<a data-href="">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini4.jpg" alt="爱代购" title="爱代购" />
			      	<div class="qrcode qrcodeImg"><img src="public/web/image/qrcode4.jpg" /></div>
			        </a>
			        <p>爱代购</p>
			      </li>
			      <li>
			      	<a data-href="">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini5.jpg" alt="Tims会员中心" title="Tims会员中心" />
			      	<div class="qrcode qrcodeImg"><img src="public/web/image/qrcode5.jpg" /></div>
			        </a>
			        <p>Tims会员中心</p>
			      </li>
			      <li>
			      	<a data-href="">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini6.jpg" alt="一茶一坐" title="一茶一坐" />
			      	<div class="qrcode qrcodeImg"><img src="public/web/image/qrcode6.jpg" /></div>
			        </a>
			        <p>一茶一坐</p>
			      </li>
		        </ul>
		      </div>
		      
<!-- 		  <hr>
		      <div class="wxwebs">
		        <h3>微信公众号</h3>
		        <div class="subcate">
		          <p>分类：</p>
		          <ul>
			          <li class="selected">全部</li>
			          <li>餐饮</li>
			          <li>电商</li>
			          <li>旅游</li>
			          <li>保险</li>
			          <li>其他</li>
		          </ul>
		        </div>
		        <ul class="wkmobs">
			      <li>
			      	<a data-href="https://weixin.chinauff.com/lnj-weixin/console/dc/index?a=4707DF067F5710102C50391A782F6D4CDCC8CC9C90877679">
			      	<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/mini.jpg" alt="老娘舅点餐" title="老娘舅点餐" />
			      	<div class="qrcode"></div>
			        </a>
			        <p>老娘舅点餐</p>
			      </li>
		        </ul>
		      </div> -->
		      
		      <hr>
		      <div class="module">
		        <h3>微信H5</h3>
		        <div class="subcate">
		          <p>分类：</p>
		          <ul>
		          <li class="selected">全部</li>
		          <li>列表</li>
		          <li>购物</li>
		          <li>活动</li>
		          <li>其他</li>
		          </ul>
		        </div>
		        <ul class="wkmobs">
		        	<li>
			      	<a data-href="http://58adg.com/draw">
			      		<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/draw.jpg" alt="翻牌抽奖" title="翻牌抽奖" />
			      		<div class="qrcode"></div>
			      	</a>
			      	<p>翻牌抽奖</p>
			        </li>
			        <li>
			      	<a data-href="http://58adg.com/public/page/news/index.html">
			      		<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/news.jpg" alt="新闻资讯" title="新闻资讯" />
			      		<div class="qrcode"></div>
			      	</a>
			      	<p>新闻资讯H5</p>
			        </li>
			        <li>
			      	<a data-href="http://58adg.com/public/page/swiper/movies.html">
			      		<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/wkwx_swiper1.jpg" alt="卡片切换" title="卡片切换" />
			      		<div class="qrcode"></div>
			      	</a>
			      	<p>卡片切换1</p>
			        </li>  
			        <li>
			        <a data-href="http://58adg.com/public/page/swiper/animals.html">
			      		<img class="lazy" src="public/web/image/lazy_400x650.jpg" data-src="public/web/image/wkwx_swiper2.jpg" alt="卡片切换" title="卡片切换" />
			      		<div class="qrcode"></div>
			      	</a>
			      	<p>卡片切换2</p>
			        </li> 
			    </ul>
		      </div>
<!-- 			      
		      <hr>
	          <div class="frames">
		        <h3>集成框架</h3>
		        <ul>
			        <li><a data-href="http://www.houheaven.com/wx/demot/jqm/index.html"><img class="lazy" src="public/web/image/lazy_empty.png" data-src="http://qnstudio.houheaven.com/works/wkwx_jqm.jpg" alt="jquery mobile" /></a></li>
			        <li><a data-href="http://www.houheaven.com/wx/demot/jqueryui/index.html"><img class="lazy" src="public/web/image/lazy_empty.png" data-src="http://qnstudio.houheaven.com/works/wkwx_jqui.jpg" alt="jquery ui" /></a></li>
		        </ul>
		      </div> -->
      
      </div>
    </div>

    </div>
{% endblock %}