<div class="footer">
  <div class="content">
	  <div>
	  <h3>作品分类</h3>
		  <ul>
			  <li><a href="#" target="_blank">移动端 公众号开发</a></li>
			  <li><a href="#" target="_blank">移动端 小程序开发</a></li>
			  <li><a href="#" target="_blank">电脑端 网站建设</a></li>
			  <li><a href="#" target="_blank">APP 开发</a></li>
		  </ul>
	  </div>

	  <div>
	      <h3>友情链接</h3>
		  <ul>
		  <li><a href="https://reactjs.org" target="_blank">react.js</a></li>
		  <li><a href="https://cn.vuejs.org" target="_blank">vue.js</a></li>
		  </ul>
	  </div>

	  <div>
		  <h3>联系我们</h3>
		  <ul>
			  <li><a href="http://wpa.qq.com/msgrd?v=3&uin=970012685&site=qq&menu=yes" target="_blank">扣扣：1603334317</a></li>
			  <li><a href="javascript:;">微信：t680668</a></li>
			  <li><a href="http://weibo.com/" target="_blank">电话：18616930245</a></li>
		  </ul>
	  </div>

	  <div>
	    <img class="qrcode" src="/public/web/image/qrcode.jpg" />
	  </div>


      <p class="copyright">Copyright © 2015-2018 . All rights reserved.</p>
  </div>
</div>
