<div class="header">
    <div class="topbar container">
        <img class="logo" src="public/web/image/logo.png" />
        <ul class="nav">
            <li {% if title=='首页' %} class="active" {% endif %} ><a href="/">首页</a></li>
            <li {% if title=='作品' %} class="active" {% endif %} ><a href="/work">作品</a></li>
             <li {% if title=='文集' %} class="active" {% endif %} ><a href="/article">文集</a></li>
            <li {% if title=='博客' %} class="active" {% endif %} ><a href="/blog">博客</a></li>
            <li {% if title=='画廊' %} class="active" {% endif %} ><a href="/picture">画廊</a></li>
            <li {% if title=='音乐' %} class="active" {% endif %} ><a href="/music">音乐</a></li>
            <li {% if title=='电影' %} class="active" {% endif %} ><a href="/film">电影</a></li>
<!--        <li {% if title=='登录/注册'%} class="active" {% endif %} ><a href="/login">登录/注册</a></li> -->
        </ul>
    </div>
</div>