<div class="header">
    <div class="topbar">
        <ul class="nav container">
            <li {% if title=='首页'     %} class="active" {% endif %} ><a href="/">首页</a></li>
            <li {% if title=='图片收藏' %} class="active" {% endif %} ><a href="/picture">图片收藏</a></li>
            <li {% if title=='电影资源' %} class="active" {% endif %} ><a href="/film">电影资源</a></li>
            <li {% if title=='经典美文' %} class="active" {% endif %} ><a href="/article">经典美文</a></li>
            <li {% if title=='歌曲推荐' %} class="active" {% endif %} ><a href="/song">歌曲推荐</a></li>
            <li {% if title=='作品展示' %} class="active" {% endif %} ><a href="/work">作品展示</a></li>
            <li {% if title=='联系我们' %} class="active" {% endif %} ><a href="/contact">联系我们</a></li>
            <li {% if title=='登录/注册'%} class="active" {% endif %} ><a href="/login">登录/注册</a></li>
        </ul>
    </div>
</div>