<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="SKY工作室 文集 博客 电影 音乐 画廊">
    <meta name="description" content="SKY工作室，网站包含了个人作品、文集、博客、电影、音乐、画廊等栏目，分享个人心得，共享网络资源。">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">


    <title>{{title}}-SKY工作室</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/public/web/res/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/web/style/common.css" />
    {% block css %}{% endblock  %}
    <script src="/public/web/script/support.js"></script>
    {% block js %}{% endblock  %}
</head>
<body>
    {% include "./header.html" %}
    {% block content %}{% endblock  %}
	{% include "./footer.html" %}
</body>
</html>

