

/* 重置 */

.hide { display:none; }
.hide3 * { opacity:0; }

.hhAlbum_panel { border-radius:2px !important; }
.hhAlbum_panel .layui-layer-title   { background:#fff !important; padding-left:12px !important; }
.hhAlbum_panel .layui-layer-content { padding:0 !important; border-bottom:0px solid #f00; }


/* 相册 */

.hhAlbum_menu { position:absolute; left:0; width:200px; height:100%; background:#f7f7f7; overflow:auto; border-right:1px solid #eaeaea; }
.hhAlbum_menu ul { padding:0; margin:0; }
.hhAlbum_menu ul li { position:relative; padding:12px 50px 12px 12px; font:14px/18px "微软雅黑"; cursor:pointer; border-bottom:1px solid #eaeaea; }
.hhAlbum_menu ul li span { position:absolute; right:12px; top:12px; }
.hhAlbum_menu ul li.active { background:#fff; }
.hhAlbum_menu ul li:hover  { background:#fefefe; }

.hhAlbum_imgs { position:relative; height:318px; margin-left:200px; border:0px solid #f00; }
.hhAlbum_imgs.empty { background:url(/public/admin/img/img_empty.png) no-repeat center; }
.hhAlbum_imgs ul { padding:5px; border:0px solid #f00; }
.hhAlbum_imgs ul li { float:left; margin:5px; width:120px; list-style:none; }
.hhAlbum_imgs ul li div { position:relative; width:120px; height:120px; }
.hhAlbum_imgs ul li div p { position:absolute; left:0; bottom:0; width:100%; color:#fff; background:rgba(0,0,0,0.3); }
.hhAlbum_imgs ul li div b { display:none; position:absolute; left:0; top:0; z-index:5; width:116px; height:116px; border:2px solid #6ec174; box-sizing:content-box; cursor:pointer; }
.hhAlbum_imgs ul li.selected b { display:block; background:url(/public/admin/img/album_check.png) no-repeat right bottom; }
.hhAlbum_imgs ul li img { width:100%; height:100%; cursor:pointer; }
.hhAlbum_imgs ul li p { font:12px/20px "微软雅黑"; margin:5px 0 0; padding:0; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.hhAlbum_imgs > div { position:absolute; right:12px; bottom:-39px; overflow:hidden; }  /* 七牛图片上传，btn 外面自动包裹一层 div */
.hhAlbum_imgs .btn { font:12px/26px "微软雅黑"; color:#fff; display:block; padding:0 12px; background:#44BB00; border:1px solid #399f00; border-radius:2px; }
.hhAlbum_imgs .btn:hover { background:#399f00; }

.hhAlbum_pages { height:38px; padding:12px 0 0 210px; border-top:1px solid #eee; box-sizing:content-box; }

.hhAlbum_actions { position:absolute; bottom:60px; right:0; height:50px; }
.hhAlbum_actions .hh_btn { display:block; margin:11px 10px; padding:0 12px; font:12px/24px "微软雅黑"; color:#fff; background:#44BB00; border:1px solid #399f00; border-radius:2px; cursor:pointer; }
.hhAlbum_actions .hh_btn:hover { background:#399f00; text-decoration:none; }

.hhAlbum_footer { position:absolute; bottom:0; width:100%; height:60px; margin:0; padding:0; border-top:1px solid #e7eaec; overflow:hidden; }
.hhAlbum_footer .hh_tip { display:none; padding:0; position:absolute; left:20px; top:20px; font:14px/20px "微软雅黑"; color:#f26e67; }
.hhAlbum_footer .hh_btn { display:block; width:150px; margin:13px auto; padding:5px; font:16px/24px "微软雅黑"; color:#fff; text-align:center; background:#337AB7; border-radius:3px; cursor:pointer; }
.hhAlbum_footer .hh_btn:active { background:#1a6ea4; text-decoration:none; }

